.container {
  display: flex;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container .box2 {
    flex-direction: row-reverse;

    font-size: 12px;
  }
  .box1 {
    width: 100vw;
  }
  .box2 {
    width: 100vw;
  }

  .intro {
    display: none;
  }
  br {
    display: none;
  }
  img {
    width: 40px;
    height: 40px;
  }
  .profile {
    width: 120px;
    height: 120px;
  }
  p {
    font-size: small;
  }
  .head {
    font-size: medium;
  }
  .stack {
    font-size: medium;
  }
  .icon {
    margin-left: 50px;
  }
  .icon1 {
    padding: 2px;
    margin: 5px;
  }
  .icon2 {
    padding: 2px;
    margin: 5px;
  }
  .icon3 {
    padding: 2px;
    margin: 5px;
  }
}
